a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.logo-blue {
  color: #2196f3;
}
.logo-black {
  color: black;
}
.logo-white {
  color: white;
}
.button-primary {
  background-color: #2196f3;
  color: #ffffff;
  display: inline-block;
  padding: 10px;
  border-radius: 3px;
}
.link {
  color: #000000;
}
/* кнопки, ссылки */
.list-links .link:hover,
.list-links .link:focus {
  color: #2196f3;
}
/* tel, mail */
.header-address-links .link:hover,
.header-address-links .link:focus {
  color: #2196f3;
}
.footer {
  background: #2f303a;
  width: 1600px;
  height: 290px;
  display: flex;
  align-items: flex-start;
}
.footer-add {
  width: 231px;
  height: 81px;
  padding-left: 0px;
  padding-top: 100px;
}
.box,
.team-box,
.client {
  display: flex;
  align-items: flex-start;
}
/* Color section */
.section-title {
  font-family: "Roboto", sans-serif;
  color: #212121;
  text-align: center;
}
.title {
  font-family: "Roboto", sans-serif;
  color: #212121;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
}
.team-text {
  font-family: "Roboto", sans-serif;
  color: #757575;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
}
.text {
  font-family: "Roboto", sans-serif;
  color: #757575;
  text-align: left;
  font-size: 16px;
  line-height: 19px;
}
.port-title {
  font-family: "Roboto", sans-serif;
  color: #212121;
  text-align: left;
  font-size: 18px;
  line-height: 36px;
}
.port-text {
  font-family: "Roboto", sans-serif;
  color: #757575;
  text-align: left;
  font-size: 16px;
  line-height: 30px;
}
