/* основний колір тексту #757575*/
/*  другорядний колір тексту #212121*/

/* основний колір фону  #FFFFFF*/
/* другорядний колір фону #F5F4FA */
/* футер основний колір  #2F303A */
/* футер основний колір тексту #FFFFFF */
/* футер другорядний колір тексту rgba(255, 255, 255, 0.6) */
/* футер колір нижнього тексту rgba(255, 255, 255, 0.4) */

/* змінний колір #2196F3 */
/* Web  #2196F3 */
/* stydio  #000000*/
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-white: #ffffff;
  --color-changes: #2196f3;
  --footer-color: #2f303a;
}

body {
  background-color: var(--primary-white);
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* HEADER */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  /* identical to box height */
  letter-spacing: 0.03em;
}
.logo-blue {
  color: var(--color-changes);
}
.logo-black {
  color: #000000;
}
.logo-white {
  color: var(--primary-white);
}
.site-nav {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link {
  color: var(--secondary-text-color);
}

/* зміна кольору */
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--color-changes);
}

.site-nav .link.current {
  color: var(--color-changes);
}

/* tel, mail */
.address-links {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-link {
  color: var(--primary-text-color);
}
.address-link:hover,
.address-link:focus {
  color: var(--color-changes);
}

/* HERO */
.hero {
  width: 1600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: greenyellow;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  padding: 5px;
  color: var(--primary-white);
}
.button-primary {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--color-changes);
  color: var(--primary-white);
  letter-spacing: 0.06em;
  padding: 10px 32px 10px 32px;
  border-radius: 4px;
}

/*Feature  */
.features {
  display: flex;
  align-items: center;
  text-align: center;
  width: 1170px;
  height: 251px;
}

.features-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: start;
}
.text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  /* or 171% */
  letter-spacing: 0.03em;
  text-align: start;
}
/* Чем мы занимаемся */
.section {
  width: 1170px;
}
/* section */

.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.box {
  display: flex;
  align-items: center;
}
.title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14x;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* our team */
.section-team {
  width: 1600px;
  height: 702px;
  background-color: #f5f4fa;
}
.team-box {
  display: flex;
  justify-content: center;
  width: 1170px;
}
.team-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.team-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* client */
.client {
  display: flex;
  align-items: center;
}
/* footer */
.footer {
  background-color: var(--footer-color);
  width: 1600px;
  height: 290px;
  display: flex;
  justify-content: center;
}
.footer-add {
  width: 231px;
  height: 81px;
}
.footer-white {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;

  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--primary-white);
}
.address-footer {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  /* or 171% */
  letter-spacing: 0.03em;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
}
/* Color section */
.footer-link:hover,
.footer-link:focus {
  color: var(--color-changes);
}
.button-mail {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  text-align: left;
  background-color: var(--footer-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  /* identical to box height, or 125% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.button-footer {
  width: 143px;
  height: 30px;
  padding: 10px 28px 10px 29px;
  border-radius: 4px;
  background-color: var(--color-changes);
}
.button-foot-primary {
  width: 109px;
  height: 30px;
  background-color: var(--color-changes);
  color: var(--primary-white);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.imgtel {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;

  /* or 200% */
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}
.text-white {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white);
}

/* Portfolio */
.port-section {
  width: 1170px;
  display: flex;
  align-items: center;
}

.button-filter {
  display: flex;
  justify-content: center;
}
.button-changes {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  /* identical to box height, or 162% */

  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--secondary-text-color);
  padding: 6px;
  border-radius: 4px;
  margin-right: 8px;
}

.button-changes:hover,
.button-changes:focus {
  background-color: var(--color-changes);
  color: var(--primary-white);
}
.port-title {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-text-color);
  text-align: left;
  font-size: 18px;
  line-height: 2;
}
.port-text {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  text-align: left;
  font-size: 16px;
  line-height: 1.86;
}
.pictures-place {
  display: flex;
  flex-wrap: wrap;
}
.changes-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  width: 322px;
  height: 168px;

  /* or 156% */
  letter-spacing: 0.03em;
  color: #000000;
}
